.wrapper {
    margin-left: 25px;
    margin-right: 25px;
}

.wrapperAll {
    display: inline-grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 1em;
    margin-left: 10%;
}

body {
    background-color: #F7F9FB;
}

.formClass {
    border: 1px solid #31708E;
    background-color: #8FC1E3;
    border-radius: 5px;
    margin-top: 15px;
    padding: 30px;
}

#formLeft {
    height: 130px;
    max-height: 130px;
}

.nav-tabs{
    background-color: #8FC1E3;
    border-radius: 10px;
}
.nav-tabs > li > a:hover {
    background-color: #5085A5;
    border-radius: 10px;
}
a:link {
    color: #31708E;
}

a:visited {
    color: #31708E;
}

a:hover {
    color: #F7F9FB;
}

a:active {
    color: #31708E;
}

.logo {
    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logoAll {
    width: 50%;
}


HTML SCSS Result EDIT ON body {
    font-family: 'Source Code Pro', sans-serif;
  }
  .wrap {
    padding: 10% 20%;
  }
  h2 {
    margin-top: 3em;
    color: grey;
  }
  h2:first-child {
    margin-top: 0;
  }
  .underlined {
    color: black;
    flex: 1;
    font-size: 14px;
    line-height: 1.2;
    text-decoration: none;
    background-image: linear-gradient(to right, #e3ad8f 0, #e3ad8f 100%);
    background-position: 0 1.2em;
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: background 0.5s;
  }
  .underlined:hover {
    background-size: 100% 100%;
  }
  .underlined--thin {
    background-image: linear-gradient(to right, black 0, black 100%);
  }
  .underlined--thick {
    background-position: 0 -0.1em;
  }
  .underlined--offset {
    background-position: 0 0.2em;
    box-shadow: inset 0 -0.5em 0 0 white;
  }
  .underlined--gradient {
    background-position: 0 -0.1em;
    background-image: linear-gradient(to right, #e3ad8f 0, #ca8fe3 50%, #8FC1E3 100%);
  }
  .underlined--reverse {
    background-position: 100% -0.1em;
    transition: background 1s;
    background-image: linear-gradient(to right, yellow 0, yellow 100%);
  }


@import 'https://fonts.googleapis.com/css?family=Rubik+Mono+One';

.words {
  color: #F7F9FB;
  font-size: 0;
  line-height: 1;
}
.words span {
  font-size: 120px;
  display: inline-block;
  animation: move 3.5s ease-in-out infinite;
}
.words span:nth-child(2) {
  animation-delay: 0.5s;
}
.words span:nth-child(3) {
  animation-delay: .75s;
}
.words span:nth-child(4) {
  animation-delay: 1s;
}
.words span:nth-child(5) {
    animation-delay: 1.25s;
}
.words span:nth-child(6) {
    animation-delay: 1.5s;
}
@keyframes move {
  0% {
    transform: translate(-33%, 0);
  }
  50% {
    text-shadow: 0 15px 40px #31708E;
  }
  100% {
    transform: translate(33%, 0);
  }
}
* {
  box-sizing: border-box;
}
.about {
  max-width: 600px;
  margin: 60px auto;
  border: 5px solid #31708E;
  color: #31708E;
  padding: 20px;
  font-family: monaco, courier, mono-space;
  line-height: 2;
  box-shadow: 5px 5px 0 #31708E;
}
.about a {
  background: #31708E;
  color: #31708E;
  text-decoration: none;
  padding: 2px 4px;
  white-space: nowrap;
}

#frontDivOne {
    margin-left: 35%;
}

#frontDivTwo {
    margin-left: 25%;
}

#glassdoorLogo {
    margin-top: 10px;
}

#craigslistLogo {
    margin-top: 8px;
}

#monsterLogo {
    margin-top: 15px;
}