@{
  Layout = "_Layout";
}
<div class="container">
  <ul class="nav nav-tabs nav-justified">
    <li><a class="nav-link" href = "/jobs/all">All</a></li>
    <li><a class="nav-link" href = "/jobs/stackoverflow">Stack OverFlow</a></li>
    <li><a class="nav-link" href = "/jobs/indeed">Indeed</a></li>
  </ul>
</div>
<br>
<div class="wrapper">
  <div class="formClass">
    <p>Search ALL websites for specific Job Title</p>
    <p>Current Websites: Stack Overflow, Indeed</p>
    <form action = "/jobs" method="post">
            <input id='jobName' name='jobName' type='text' required><br>
            <button type='submit'>Find a job</button>
    </form>
  </div>
  <div>
    <p>Hi</p>
  </div>
</div>