@using JobSearch.Models
@{
  Layout = "_Layout";
}
<div class="container">
  <ul class="nav nav-tabs nav-justified">
    <li><a class="nav-link" href = "/jobs/all">All</a></li>
    <li><a class="nav-link" href = "/jobs/stackoverflow">Stack OverFlow</a></li>
    <li><a class="nav-link" href = "/jobs/indeed">Indeed</a></li>
    <li><a class="nav-link" href = "/jobs/glassdoor">GlassDoor</a></li>
    <li><a class="nav-link" href = "/jobs/craigslist">Craigslist</a></li>
  </ul>
</div>
<br>
<img class="logo" src="~/img/stackoverflow.png">
<br>
<div class="wrapper">
  <div id="formLeft" class="formClass">
    <p>Search Cragslist By Job TItle and Job Location</p>
    <form action = "/jobs/craigslist" method="post">
            <label for='jobName'>Job Title</label>
            <input id='jobName' name='jobName' type='text' required><br>
            <label for='jobLocation'>Job Location</label>
            <input id='jobLocation' name='jobLocation' type='text' required><br>
            <button type='submit'>Find a job</button>
    </form>
  </div>
  <div class="formClass">
    <p>Output</p>
     <ul>
     @if(@Model.Count != 0)
    {
      @foreach(CraigslistClass job in @Model)
        {
          <a href="@job.GetUrl()"><h2>@job.GetTitle()</h2></a>
        }
    } else
    {
      <p> </p>
    }
    </ul>
  </div>
</div>