@{
  Layout = "_Layout";
}

<div class="container">
    <h3>Job Search</h3>
    <form action = "/jobs" method="post">
            <label for='jobName'>Job Name</label>
            <input id='jobName' name='jobName' type='text' required><br>
            <button type='submit'>Find a job</button>
    </form>
</div>
