@{
  Layout = "_Layout";
}


<div class="container">
  <ul class="nav nav-tabs nav-justified">
    <li><a class="nav-link" href = "/jobs/all">All</a></li>
    <li><a class="nav-link" href = "/jobs/stackoverflow">Stack OverFlow</a></li>
    <li><a class="nav-link" href = "/jobs/indeed">Indeed</a></li>
    <li><a class="nav-link" href = "/jobs/glassdoor">GlassDoor</a></li>
    <li><a class="nav-link" href = "/jobs/craigslist">Craigslist</a></li>
    <li><a class="nav-link" href = "/jobs/monster">Monster</a></li>
  </ul>
  <br>
  <div id="infoDiv">
    <p>Search individual sites via the links above, or use the All page to search all sites at the same time.</p>
  </div>
</div>
<br>


