@{
  Layout = "_Layout";
}


<div class="container">
  <ul class="nav nav-tabs nav-justified">
    <li><a class="nav-link" href = "/jobs/all">All</a></li>
    <li><a class="nav-link" href = "/jobs/stackoverflow"><img class="logoAll" src="~/img/stackoverflow.png"></a></li>
    <li><a class="nav-link" href = "/jobs/indeed"><img class="logoAll" src="~/img/indeed.png"></a></li>
    <li><a class="nav-link" href = "/jobs/glassdoor"><img class="logoAll" src="~/img/glassdoor.png"></a></li>
    <li><a class="nav-link" href = "/jobs/craigslist"><img class="logoAll" src="~/img/craigslist.png"></a></li>
    <li><a class="nav-link" href = "/jobs/monster"><img class="logoAll" src="~/img/monsterlogo.png"></a></li>
  </ul>
  <br>
  <div id="infoDiv">
    <p>Search individual sites via the links above, or use the All page to search all sites at the same time.</p>
  </div>
</div>
<br>


