@{
  Layout = "_Layout";
}

<div class="container">
<div class="words words-1" id="frontDivOne">
  <span>J</span>
  <span>O</span>
  <span>B</span>
</div>
<div class="words words-1" id="frontDivTwo">
  <span>H</span>
  <span>U</span>
  <span>N</span>
  <span>T</span>
  <span>E</span>
  <span>R</span>
</div>
</div>
